.navbar-brand{
	padding-top: 12px;
}

.panel-default{
	margin-left: 50px;
	margin-right: 50px;
}
.panel-title{
	font-weight: 900;
	font-size: 20px;
	margin-left: 20px;
}
.alert{
	margin-left: 50px;
	margin-right: 50px;
}